@font-face {
    font-family: tittle;
    src: url(./storage/font/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: parrafo;
    src: url(./storage/font/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: din;
    src: url(../storage/font/D-DIN/D-DIN-Bold.otf);
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(../storage/font/Roboto/Roboto-Regular.ttf);
}

@media (max-width: 1920px) and (min-width: 801px) {

    body {
        background-color: black;
    }

    #container {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        top: 0vw;
        left: 0vw;
        overflow: hidden;
    }

    #black {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: black;
    }

    #shadow2 {
        position: absolute;
        width: 64.635vw;
        height: 48.75vw;
        left: 46.302vw;
        top: -7.708vw;
        background: rgba(97, 100, 141, 0.9);
        mix-blend-mode: normal;
        filter: blur(170.83px);
        border-radius: 246.893px;
        z-index: 1;
    } 

    #fondo img{
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0vw;
        left: 0vw;
        z-index: 1;
    }

    #tittle {
        position: absolute;
        color: white;
        font-size: 3vw;
        left: 5vw;
        top: -1vw;
        font-family: "Roboto-Regular";
        z-index: 1;
    }

    #astronaut {
        position: absolute;
        width: 40vw;
        top: 10vw;
        left: 10vw;
        z-index: 1;
    }

    h2 {
        position: absolute;
        color: white;
        font-weight: 600;
        font-size: 3.5vw;
        text-align: center;
        font-family: "Roboto-Regular";
        z-index: 1;
        top: 8vw;
        left: 45vw;
    }

    #description {
        position: absolute;
        text-align: center;
        color: white;
        font-size: 1.2vw;
        font-family: "Roboto-Regular";
        width: 50vw;
        top: 18vw;
        left: 43vw;
        z-index: 1;
    }

    #astronauta {
        position: absolute;
        width: 100vw;
        left: -30vw;
        top: 5vw;
    }

    #space {
        position: absolute;
        width: 15vw;
        top: -2vw;
        left: 5vw;
        z-index: 1;
    }

    .btn {
        position: absolute;
        font-size: 1.2vw;
        font-family: din;
        top: 35vw;
        left: 60vw;
        width: 15vw;
        height: 4vw;
        border: none;
        outline: none;
        border-radius: 0.4rem;
        cursor: pointer;
        background-color: rgb(14, 14, 26);
        color: rgb(234, 234, 234);
        font-weight: 700;
        transition: 0.6s;
        box-shadow: 0px 0px 60px #1f4c65;
        -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
        z-index: 1;
    }
    
    .btn:active {
        scale: 0.92;
    }
    
    .btn:hover {
        background: rgb(2,29,78);
        background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
        color: rgb(4, 4, 38);
    }

    #boton {
        display: none;
    }
}

@media (max-width: 800px) {

    #container {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 210vw;
        top: 0vw;
        left: 0vw;
        background-color: black;
        overflow-x: hidden;
    }

    #shadow2 {
        display: none;
    } 

    #fondo img{
        position: absolute;
        width: 100vw;
        height: 175vw;
        top: 0vw;
        left: 0vw;
        z-index: 1;
    }

    h2 {
        position: absolute;
        color: white;
        font-weight: 600;
        font-size: 6vw;
        text-align: center;
        font-family: "Roboto-Regular";
        z-index: 1;
        top: 10vw;
        left: 9vw;
    }

    #description {
        display: none;
    }

    #astronauta {
        position: absolute;
        width: 380vw;
        height: auto;
        left: -180vw;
        top: 0vw;
        mask-image: linear-gradient(black, white 80%);
        mask-image: linear-gradient(
        black 80%, 
        transparent
        );
    }

    #space {
        position: absolute;
        width: 25vw;
        top: -2vw;
        left: 37.5vw;
        z-index: 1;
    }

    .boton {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4vw;
        font-family: din;
        top: 155vw;
        left: 80vw;
        width: 15vw;
        height: 15vw;
        border: 0.1vw solid ;
        outline: none;
        border-radius: 2vw;
        cursor: pointer;
        background-color: rgb(14, 14, 26);
        color: rgb(234, 234, 234);
        font-weight: 700;
        transition: 0.6s;
        box-shadow: 0px 0px 60px #1f4c65;
        -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
        z-index: 1;
    }
    
    .boton:active {
        scale: 0.92;
    }
    
    .boton:hover {
        background: rgb(2,29,78);
        background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
        color: rgb(4, 4, 38);
    }

    #btn {
        display: none;
    }

    #img {
        width: 5vw;
    }

}